body {
	/*background-color: #333;
	color: #ccc;*/
}
h3 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 24px;
}
table {
	text-align: center;
	vertical-align: middle;
    border-collapse: collapse;
    /*background-color: #ccc;
    color: #333;*/
}
/*table, th, td {
    border: 3px solid #333 !important;
}*/
.scoreboard {
	text-align: center;
	font-size: 24px;
}
.player {
	font-size: 60px;
}
.table-button {
	margin-right: 10px;
	margin-top: 20px;
	font-size: 24px;
    width: 50px;
}
.delete-button {
    display: none;
}
.delete-button:hover {
    display: block;
}
.modal {
	color: #000;
}
.radioList {
	list-style: none;
}
input[type="radio"] {
	display: none;
}
label input[type="radio"] + span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #000;
}
label input[type="radio"]:checked + span {
	background-color: #AAA;
}
label input[type="radio"] + span,
label input[type="radio"]:checked + span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
.glyphicon-remove {
	pointer-events: all;
}
#change-scheme-close {
	text-align: center;
	margin: 10px 45%;
}
.emotional_status {
	width: 50px;
	height: 50px;
	margin-top: 15px;
}
.copyright {
	text-align: center;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 50%;
}