body {
	background-color: #333;
	color: #ccc;
}
h3 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 24px;
}
table {
	text-align: center;
	vertical-align: middle;
    border-collapse: collapse;
    background-color: #ccc;
    color: #333;
}
table, th, td {
    border: 3px solid #333 !important;
}
.scoreboard {
	text-align: center;
	font-size: 24px;
}
.player {
	font-size: 60px;
}
.btn {
	margin-right: 10px;
	margin-top: 20px;
	font-size: 24px;
    width: 50px;
}
.emotional_status {
	width: 50px;
	height: 50px;
	margin-top: 15px;
}
.copyright {
	text-align: center;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 50%;
}