<div class="container">

	<div class="row">
		<h3>Bless Thee</h3>
	</div>

	<div class="row">
		<table id="scoreTable" class="table table-bordered">
			<thead>
				<tr>
					<th class="scoreboard">Rank</th>
					<th class="scoreboard">Player</th>
					<th class="scoreboard">Score</th>
					<!-- <th class="scoreboard">Emotional Status</th> -->
					<th class="scoreboard"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in playersController.allPlayers">
					<td class="player">{{$index + 1}}</td>
					<td class="player">{{player.name}}</td>
					<td class="player">{{player.score}}</td>
					<!-- <td class="emotion"></td> -->
					<td>
						<button class="button button-add" ng-click="playersController.blessPlayer( player )">&plus;</button>
						<button class="button button-minus" ng-click="playersController.cursePlayer( player )">&minus;</button>
						<button class="button button-delete hide-button" ng-click="playersController.deletePlayer( player )">&#120;</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row button-row">
		<button class="button-medium add-player-button" data-toggle="modal" data-target="#newPlayerModal">
		    Add Player
		</button>
		<button class="button-medium add-scheme-button" data-toggle="modal" data-target="#addSchemesModal">
		    Add Scheme
		</button>
		<button class="button-medium change-scheme-button" data-toggle="modal" data-target="#changeSchemesModal">
		    Change Scheme
		</button>
		<button class="button-medium change-scheme-button" data-toggle="modal" data-target="#updateSchemesModal" ng-click="playersController.getSchemeForUpdating( playersController.defaultScheme )">
		    Edit Current Scheme
		</button>
	</div>
</div> <!-- /container -->

<!-- New Player Modal -->
<div class="modal fade" id="newPlayerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">New Player</h4>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">

				<form role="form" id="add-player-form" ng-submit="playersController.savePlayer()">
					<div class="form-group">
						<label for="exampleInputEmail1">Name</label>
						<input type="name" id="player-name-input" class="form-control" ng-model="playersController.newPlayer.name" placeholder="Enter name"/>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Score</label>
						<input type="score" id="player-score-input" class="form-control" ng-model="playersController.newPlayer.score" placeholder="Score"/>
					</div>
					<button type="submit" class="btn btn-default">Add Player</button>
				</form>
			</div><!-- modal-body -->
		</div><!-- modal content -->
	</div><!-- modal dialog -->
</div><!-- modal fade -->

<!-- Add Color Scheme Modal -->
<div class="modal fade" id="addSchemesModal" tabindex="-1" role="dialog" aria-labelledby="newSchemeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="newSchemeModalLabel">New Color Scheme</h4>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">
				<form role="form" id="add-color-scheme" ng-submit="playersController.saveScheme()">
					<div class="form-group">
						<label>Name</label>
						<input type="text" id="scheme-name-input" class="form-control" ng-model="playersController.newColorScheme.name" placeholder="Enter color scheme name"/>
					</div>
					<div class="form-group">
						<label>Body Background</label>
						<input type="text" id="body-background-input" class="form-control" ng-model="playersController.newColorScheme.body_background" placeholder="Enter body background color"/>
					</div>
					<div class="form-group">
						<label>Body Text</label>
						<input type="text" id="body-text-input" class="form-control" ng-model="playersController.newColorScheme.body_text" placeholder="Enter body text color"/>
					</div>
					<div class="form-group">
						<label>Table Background</label>
						<input type="text" id="table-background-input" class="form-control" ng-model="playersController.newColorScheme.table_background" placeholder="Enter table background color"/>
					</div>
					<div class="form-group">
						<label>Table Text</label>
						<input type="text" id="table-text-input" class="form-control" ng-model="playersController.newColorScheme.table_text" placeholder="Enter table text color"/>
					</div>
					<div class="form-group">
						<label>Add Button Background</label>
						<input type="text" id="table-text-input" class="form-control" ng-model="playersController.newColorScheme.add_button_background" placeholder="Enter add button background color"/>
					</div>
					<div class="form-group">
						<label>Add Button Text</label>
						<input type="text" id="table-text-input" class="form-control" ng-model="playersController.newColorScheme.add_button_text" placeholder="Enter add button text color"/>
					</div>
					<div class="form-group">
						<label>Minus Button Background</label>
						<input type="text" id="table-text-input" class="form-control" ng-model="playersController.newColorScheme.minus_button_background" placeholder="Enter minus button background color"/>
					</div>
					<div class="form-group">
						<label>Minus Button Text</label>
						<input type="text" id="table-text-input" class="form-control" ng-model="playersController.newColorScheme.minus_button_text" placeholder="Enter minus button text color"/>
					</div>
					<div class="form-group">
						<label>Generic Button Background</label>
						<input type="text" id="table-text-input" class="form-control" ng-model="playersController.newColorScheme.generic_button_background" placeholder="Enter generic button background color"/>
					</div>
					<div class="form-group">
						<label>Generic Button Text</label>
						<input type="text" id="table-text-input" class="form-control" ng-model="playersController.newColorScheme.generic_button_text" placeholder="Enter generic button text color"/>
					</div>
					<button type="submit" class="btn btn-default">Add Color Scheme</button>
				</form>
			</div><!-- modal-body -->
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal fade -->

<!-- Update Color Scheme Modal -->
<div class="modal fade" id="updateSchemesModal" tabindex="-1" role="dialog" aria-labelledby="updateSchemeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="updateSchemeModalLabel">Edit Color Scheme</h4>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">
				<form role="form" id="update-color-scheme" ng-submit="playersController.updateScheme()">
					<div class="form-group">
						<label>Name</label>
						<input type="text" id="updated-scheme-name-input" class="form-control" ng-model="playersController.schemeForUpdating.name" placeholder="Enter color scheme name"/>
					</div>
					<div class="form-group">
						<label>Body Background</label>
						<input type="text" id="updated-body-background-input" class="form-control" ng-model="playersController.schemeForUpdating.body_background" placeholder="Enter body background color"/>
					</div>
					<div class="form-group">
						<label>Body Text</label>
						<input type="text" id="updated-body-text-input" class="form-control" ng-model="playersController.schemeForUpdating.body_text" placeholder="Enter body text color"/>
					</div>
					<div class="form-group">
						<label>Table Background</label>
						<input type="text" id="updated-table-background-input" class="form-control" ng-model="playersController.schemeForUpdating.table_background" placeholder="Enter table background color"/>
					</div>
					<div class="form-group">
						<label>Table Text</label>
						<input type="text" id="updated-table-text-input" class="form-control" ng-model="playersController.schemeForUpdating.table_text" placeholder="Enter table text color"/>
					</div>
					<div class="form-group">
						<label>Add Button Background</label>
						<input type="text" id="updated-table-text-input" class="form-control" ng-model="playersController.schemeForUpdating.add_button_background" placeholder="Enter add button background color"/>
					</div>
					<div class="form-group">
						<label>Add Button Text</label>
						<input type="text" id="updated-table-text-input" class="form-control" ng-model="playersController.schemeForUpdating.add_button_text" placeholder="Enter add button text color"/>
					</div>
					<div class="form-group">
						<label>Minus Button Background</label>
						<input type="text" id="updated-table-text-input" class="form-control" ng-model="playersController.schemeForUpdating.minus_button_background" placeholder="Enter minus button background color"/>
					</div>
					<div class="form-group">
						<label>Minus Button Text</label>
						<input type="text" id="updated-table-text-input" class="form-control" ng-model="playersController.schemeForUpdating.minus_button_text" placeholder="Enter minus button text color"/>
					</div>
					<div class="form-group">
						<label>Generic Button Background</label>
						<input type="text" id="updated-table-text-input" class="form-control" ng-model="playersController.schemeForUpdating.generic_button_background" placeholder="Enter generic button background color"/>
					</div>
					<div class="form-group">
						<label>Generic Button Text</label>
						<input type="text" id="updated-table-text-input" class="form-control" ng-model="playersController.schemeForUpdating.generic_button_text" placeholder="Enter generic button text color"/>
					</div>
					<button type="submit" class="btn btn-default">Update Color Scheme</button>
				</form>
			</div><!-- modal-body -->
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal fade -->

<!-- Change Color Scheme Modal -->
<div class="modal fade" id="changeSchemesModal" tabindex="-1" role="dialog" aria-labelledby="changeSchemesModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="changeSchemesModalLabel">Change Color Schemes</h4>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">
				<div class="row" >
					<table class="" style="margin-left: 20px;">
						<tr ng-repeat="scheme in playersController.allSchemes">
							<td align="left" class="change-scheme-button-cell">
								<label class="" >
									<input class="change-schemes-button" type="radio" ng-model="model" ng-value="scheme" ng-init="scheme.id==playersController.radioId?(model=scheme):''" ng-change="playersController.changeSchemes( scheme )">
									<span class="radioSpan"></span>
									{{scheme.name}}
								</label>
							</td>
							<td class="glyphicon-pencil-cell">
								<i class="glyphicon glyphicon-pencil" data-dismiss="modal" data-toggle="modal" data-target="#updateSchemesModal" ng-click="playersController.getSchemeForUpdating( scheme )"></i>
							</td>
							<td>
								<i class="glyphicon glyphicon-remove" ng-click="playersController.deleteScheme( scheme )"></i>
							</td>
						</tr>
					</table>
					<button type="submit" id="change-scheme-close" class="btn btn-default">Close</button>
				</div><!-- row -->
			</div><!-- modal-body -->
		</div><!-- modal content -->
	</div><!-- modal dialog -->
</div><!-- modal fade -->

<audio id="halloween-theme" src="./media/halloween_theme.mp3"></audio>
<script>
	$( '#add-player-form' ).submit( function() {
		$( '#newPlayerModal' ).modal( 'hide' );
	})
	$( '#change-scheme-close' ).click( function() {
		$( '#changeSchemesModal' ).modal( 'hide' );
	})
	$( '#update-color-scheme' ).submit( function() {
		$( '#updateSchemesModal' ).modal( 'hide' );
	})
	$( '#add-color-scheme' ).submit( function() {
		$( '#addSchemesModal' ).modal( 'hide' );
	})
</script>